<div>
    <div class="comments bg-light">
    {% for comment in comments %}
        <div class="message right">
            <div class="message-sender">{{ comment.user|capfirst }}</div>
            <div class="message-time">{{ comment.timestap }}
                {% if request.user == comment.user or request.user.is_staff %}
                    <button  type="button" id="comment-delete" name="{% url 'comment_delete' id=post.id comid=comment.id %}" class="tool-button alert ml-1">
                        <span class="mif-fire icon"></span>
                    </button>
                {% endif %}
            </div>
            <div class="message-item">
                <img class="message-avatar" src="https://cdn1.savepice.ru/uploads/2019/5/19/058cdfe21f8e4fd2ce85ce629b57916d-full.jpg">
                <div class="message-text default">{{ comment.content }}</div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="message-input">
        <form method="POST" class="comment-form" action="">
            <div class="input comments-input-form">
            {% csrf_token %}
            {{ comment_form.as_p}}
                <div class="button-group">
                <button class="button input-clear-button" tabindex="-1" type="button">
                    <span class="default-icon-cross"></span>
                </button>
                <input class="button input-custom-button js-chat-send-button" tabindex="-1" type="submit" value="Send">
                </div>
            </div>
        </form>
    </div>
</div>