<div class="flex-box-column">

<button type="button" id="refresh-button" name="{% url 'blogapp:comment_refresh' id=post.id %}" class="btn btn-secondary" style="width: 100%;">
  Refresh
</button>

<div class="comments">
    {% if comments.count == 0%}
        No Comment's
    {% else %}
    {{ comments.count }} Comment {{ comments|pluralize }}
    {% endif %}
    {% for comment in comments %}
    <div class="replied-comments container mt-2">
        <div class="form-group row" id="reply-form{{comment.id}}" style="display: none">
            <form method="POST" class="reply-form" action="">
                {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{comment.id}}">
                {{ comment_form.as_p }}
            </form>
        </div>
    </div>
    <div class="replied-comments container mt-2">
        {% for reply in comment.replies.all %}
        <blockquote class="blockquote">
            <div class="comment-title">
                <p class="mb-0 text-dark links">{{ reply.content }}</p>
                {% if request.user == reply.user or request.user.is_staff %}
                    <button type="button" id="reply-delete" name="{% url 'comment_delete' id=post.id comid=reply.id %}" class="btn btn-danger btn-sm ml-1">del</button>
                {% endif %}
            </div>
            <footer class="blockquote-footer">replied by <cite title="Source Title"><a href="{% url 'profile' id=reply.user.id %}">{{ reply.user|capfirst }}</a>, {{ comment.timestap }}</cite>
            </footer>

        </blockquote>
        {% endfor %}
    </div>
    <blockquote class="blockquote">
        <div class="comment-title">
            <p class="mb-0 text-dark links">{{ comment.content }}</p>
            {% if request.user == comment.user or request.user.is_staff %}
                <button type="button" id="comment-delete" name="{% url 'comment_delete' id=post.id comid=comment.id %}" class="btn btn-danger btn-sm ml-1">del</button>
            {% endif %}
        </div>
        <footer class="blockquote-footer">by <cite title="Source Title"><a href="{% url 'profile' id=comment.user.id %}">{{ comment.user|capfirst }}</a>, {{ comment.timestap }}</cite>
            <button type="button" name="button" value="reply-form{{comment.id}}"
                    class="reply-btn btn btn-outline-dark btn-sm ml-1">
            </button>
        </footer>
    </blockquote>


    {% endfor %}
</div>

<form method="POST" class="comment-form" action="">
    {% csrf_token %}
    {{ comment_form.as_p}}
    {% if request.user.is_authenticated %}
        <input type="submit" value="Submit" class="btn btn-outline-success">
    {% else %}
        <a href="{% url 'user_login' %}"><input type="button" value="Submit" class="btn btn-outline-success"></a>
    {% endif %}
</form>
</div>
