<div class="w-100"> 
    <div class="comments bg-light" style="color: black!important;"> 
        {% for comment in comments %} 
            <div class="message right"> 
                <div class="message-sender">{{ comment.user|capfirst }}</div> 
                    <div class="message-time"> 
                        {{ comment.timestap }} 
                        {% if request.user == comment.user or request.user.is_staff %} 
                        <span class="mif-bin square mini btn btn-danger ml-1" id="comment-delete" name="{% url 'comment_delete' id=post.id comid=comment.id %}"></span>
                        {% endif %} 
                    </div> 
                    <div class="message-item">
                        <img class="message-avatar" src="https://cdn1.savepice.ru/uploads/2019/5/19/058cdfe21f8e4fd2ce85ce629b57916d-full.jpg"> 
                        <div class="message-text default">{{ comment.content | safe}}</div>
                    </div> 
                </div> 
        {% endfor %} 
            </div> 
    <div class="message-input"> 
        <form method="POST" class="comment-form" action="{% url 'blogapp:chat_page' id=post.id key=post.private_key %}">
            <div class="input comments-input-form d-flex"> 
                {% csrf_token %} 
                {{ comment_form.content | safe }}
                    <div class="button-group"  onclick="document.getElementById('refresh-button').click();"> 
                        <button class="btn input-clear-button" tabindex="-1" type="button"> 
                            <span class="default-icon-cross"></span> 
                        </button> 
                        <input class="btn input-custom-button js-chat-send-button btn-success" tabindex="-1" type="submit" value="Send"> 
                    </div> 
            </div> 
        </form>
    </div> 
</div>
<button type="button" id="refresh-button" name="{% url 'blogapp:comment_refresh' id=post.id %}"></button> 