<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-colors.min.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-icons.min.css">
    <meta charset="UTF-8">
    <title>TalkHub</title>
</head>
<body class="bg-dark">
<div class="row justify-content-center">
    <div class="col-lg-6 col">
        <div class="text-center text-white w-100">
            <h5>Почему мы?</h5>
            <p>Because</p>
        </div>
    </div>
</div>
</body>
</html>