<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% include "main/base.html" %}
</head>
<body>
<h5 style="margin: 10px">Login</h5>
<form method="POST" style="margin: 10px" >
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Login" class="btn btn-outline-success"><br>
    <p>{{ error }}</p>
    <small>
        <a href="{% url 'register' %}">Don't have an account?</a><br>
        <a href="{% url 'password_reset' %}">Forgotten your password?</a>
    </small>
</form>
</body>
</html>