<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% include "main/base.html" %}
</head>
<body>
<h5 style="margin: 10px">Login</h5>
<form method="POST" style="margin: 10px" >
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Login" class="btn btn-outline-success"><br>
    <p>{{ error }}</p>

    <a href="{% url 'social:begin' 'github' %}">
        <button type="button" class="btn btn-secondary">Github</button>
    </a>

    <a href="{% url 'social:begin' 'google-oauth2' %}">
        <button type="button" name="button" class="btn btn-primary">Google</button>
    </a>

{#    <a href="{% url 'social:begin' 'linkedin-oauth2' %}">#}
{#        <button type="button" name="button" class="btn btn-primary">Linkedin</button>#}
{#    </a>#}

    <a href="{% url 'social:begin' 'facebook' %}">
        <button type="button" class="btn btn-info">Facebook</button>
    </a>

    <a href="{% url 'social:begin' 'yandex-oauth2' %}">
        <button type="button" class="btn btn-warning">Яндекс</button>
    </a>

    <a href="{% url 'social:begin' 'vk-oauth2' %}">
        <button type="button" class="btn btn-link">Вконтакте</button>
    </a>

    <br>

    <small>
        <a href="{% url 'register' %}">Don't have an account?</a><br>
        <a href="{% url 'password_reset' %}">Forgotten your password?</a>
    </small>
</form>
</body>
</html>