<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% include "main/base.html" %}
</head>
<body>
<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       data-toggle="#sidebar-toggle-3"
       id="sb3"
       data-shift=".shifted-content">
    <div class="sidebar-header bg-grayMouse">
        <div class="avatar">
            <img data-role="gravatar" data-email="EMPTY">
        </div>
        <span class="title fg-white">{{ request.user }}</span>
        <span class="subtitle fg-white"> 2019 © TalkHub</span>
    </div>
    <ul class="sidebar-menu">
    <li><a href="{% url 'main_page' %}"><span class="mif-home icon"></span>Home</a></li>
      {% if request.user.id != None %} 
      <li><a href="{% url 'profile' id=request.user.id %}"><span class="mif-user icon"></span>Profile</a></li>
      {% endif %}
      {% if request.user.is_authenticated %} 
      <li><a href="{% url 'blogapp:post_create' %}"><span class="mif-add icon"></span>Create</a></li>
      <li><a href="{% url 'edit_profile' %}"><span class="mif-cog icon"></span>Edit profile</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'user_logout' %}"><span class="mif-exit icon"></span>Logout</a></li>
      {% else %}
      <li class="divider"></li>
      <li><a href="{% url 'user_login' %}"><span class="mif-enter icon"></span>Login</a></li>
      <li><a href="{% url 'register' %}"><span class="mif-user-plus icon"></span>Sign Up</a></li>
      {% endif %}
</ul>
</aside>
<div class="shifted-content h-100 p-ab">
    <div class="app-bar pos-absolute bg-grayMouse z-1" data-role="appbar">
        <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
            <span class="mif-menu fg-white"></span>
        </button>
    </div>
</div>
    <form method="POST" class="login-registration-form bg-white">
            <h4 class="text-center">Login</h4>

            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Login" class="button success mx-auto">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            
            <button class="image-button secondary">
                <span class="mif-github icon"></span>
                <span class="caption">
                    <a href="{% url 'social:begin' 'github' %}">
                    Github
                    </a>
                </span>
            </button>

            <button class="image-button primary">
                <span class="mif-google-plus icon"></span>
                <span class="caption">
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                    Google
                    </a>
                </span>
            </button>

        {#    <a href="{% url 'social:begin' 'linkedin-oauth2' %}">#}
        {#        <button type="button" name="button" class="btn btn-primary">Linkedin</button>#}
        {#    </a>#}

            <button class="image-button info">
                <span class="mif-facebook icon"></span>
                <span class="caption">
                    <a href="{% url 'social:begin' 'facebook' %}">
                    Facebook
                    </a>
                </span>
            </button>

            <button class="image-button warning">
                <span class="mif-keyboard icon"></span>
                <span class="caption">
                    <a href="{% url 'social:begin' 'yandex-oauth2' %}">
                    Yandex
                    </a>
                </span>
            </button>

            <button class="image-button light">
                <span class="mif-vk icon"></span>
                <span class="caption">
                    <a href="{% url 'social:begin' 'vk-oauth2' %}">
                    Вконтакте
                    </a>
                </span>
            </button>

            <br>

            <small>
                <a href="{% url 'register' %}">Don't have an account?</a><br>
                <a href="{% url 'password_reset' %}">Forgotten your password?</a>
            </small>
    </form>
</body>
</html>