<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TalkHub</title>

    {% include "main/base.html" %}
</head>
<body class="d-flex flex-column">
    {% if query %}
        <div class="alert alert-success" role="alert">
            <p>You are searching for: {{ query }}</p><a class="btn-cancel" href="{% url 'main_page' %}"></a>
        </div>
    {% endif %}

    {% if searchtag %}
        <div class="alert alert-success" role="alert">
            <p>You are searching for: {{ searchtag }}</p><a class="btn-cancel" href="{% url 'main_page' %}"></a>
        </div>
    {% endif %}
    <div class="main-body" id="mainbody">
        <div class="container-fluid">
            {% for post in posts %}
            <div class="card bg-light mb-3">
                <div class="card-header">Author: <a href="{% url 'profile' id=post.author.id %}" class="links text-dark">{{ post.author }}</a></div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">
                        {% for tag in post.tag.all %}
                        <form action="{% url "main_page" %}">
                            <button type="submit" value="{{ tag }}" name="searchtag" class="btn badge badge-success">{{ tag }}</button>
                        </form>
                        {% endfor %}</p>
                    <p class="card-text">
                        <small>{{ post.likes.count }} Likes</small>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{post.get_absolute_url}}" role="button">Learn more</a>
                    </p>
                </div>
            </div>
            {% empty %}
                <div class="alert alert-danger" role="alert">
                    <strong>Sorry!</strong> No post found
                </div>
            {% endfor %}
        </div>
        <div class="tag-section jumbotron">
            {% include 'main/tag_section.html' %}
        </div>
    </div>
</body>
</html>