<ul class="sidenav-simple h-auto">
    <li>
      <a href="{% url 'main_page' %}">
        <span class="mif-home icon"></span>
        <span class="title">Home</span>
      </a>
    </li>
      {% if request.user.id != None %} 
      <li>
        <a href="{% url 'profile' id=request.user.id %}">
          <span class="mif-user icon"></span>
          <span class="title">Profile</span>
        </a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %} 
      <li>
        <a href="{% url 'blogapp:post_create' %}">
          <span class="mif-add icon"></span>
          <span class="title">Create</span>
        </a>
      </li>
      <li>
        <a href="{% url 'edit_profile' %}">
          <span class="mif-cog icon"></span>
          <span class="title">Edit profile</span>
        </a>
      </li>
      <li>
        <a href="{% url 'user_logout' %}">
          <span class="mif-exit icon"></span>
          <span class="title">Logout</span>
        </a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'user_login' %}">
          <span class="mif-enter icon"></span>
          <span class="title">Login</span>
        </a>
      </li>
      <li>
        <a href="{% url 'register' %}">
          <span class="mif-user-plus icon"></span>
          <span class="title">Sign Up</span>
        </a>
      </li>
      {% endif %}
</ul>