{% extends "main/navbar.html" %}
{% block content %}
        <div class="row login-registration-form">
            <div class="cell order-2"> 
                {% include 'main/tag_section_create.html' %}
            </div>
            <div class="cell order-1">
                <form method="POST">
                    {% csrf_token %}
                    {{ postform.as_p }}
                    <input type="submit" value="Create" class = "button success">
                </form>
            </div>
        </div>
    <style>
    .item{
        padding-left: 0!important;
    }
    .items-list{
        padding-left: 0!important;
    }
    </style>
{% endblock %}