<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    {% include 'main/base.html' %}
</head>
<body>
<div class="middle-block mx-auto bg-lightSteel text-white text-center">
    <h4>Edit post</h4>
    <form method="POST">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.body | safe }}<br>
        {{ form.private }} <strong>Private<strong>
        <input type="submit" value="Update" class="btn btn-success w-100 mt-2">
    </form>
</div>
</body>
</html>