<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    {% include "main/base.html" %}
</head>
<body>
    <div class="jumbotron main-body">
        <form method="POST" style="margin: 10px">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" class = "btn btn-outline-success">
        </form>
        <div class="tag-section create-tags">
            {% for tag in tags %}
                <div>
                    <input type="checkbox" name="tags" value="{{tag.id}}">
                    <span class="badge badge-success">{{tag.tag_name}}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
