<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    {% include "main/base.html" %}
</head>
<body>
<div class="container middle-block">
    <form method="POST" style="margin: 10px" class="row bg-light p-2 py-4 rounded">
        <div class="col">
            {% csrf_token %}
            {{ postform.as_p }}
            <input type="submit" value="Create" class = "btn btn-outline-success">
        </div>
        <div class="col">
            {% include 'main/tag_section_create.html' %}
        </div>
    </form>
</div>
</body>
</html>
