<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    {% include "main/base.html" %}
</head>
<body>
Maybe this links could help you to solve your problem:<br>
{% for link in links %}
    <a href="{{ link }}">{{ link }}</a><br>
{% endfor %}

{% if private_link %}
Here your private post link:
<a href="{{ private_link }}">{{ private_link }}</a><br>
{% endif %}

<a href="{% url 'main_page' %}"><button class="btn btn-outline-success">Continue in TalkHub</button></a>
</body>
</html>