<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    {% include "main/base.html" %}
</head>
<body>
    <div class="card middle-block">
        {% if request.user.profile.image %}
        <img src="{{ request.user.profile.image.url }}" alt="">
        {% else %}
        <img src="http://st-zamok.ru/upload/content/medium/f605e8a8cff57e1fe865ac6ec6e364b1.jpg" class="card-img-top" alt="No Photo">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder={{user.username}} readonly aria-label="Имя пользователя" aria-describedby="basic-addon1">
            </div>
            </h5>
            <p class="card-text">
                Email: {{request.user.email}}
            </p>
            <p class="card-text">
                Contacts: {{request.user.profile.contacts}}
            </p>
            <p class="card-text">
                County: {{request.user.profile.country}}
            </p>
            <p class="card-text">
                Posts count: {{ posts_count }}
            </p>
        </div>
        <div class="card-body">
            <a class="card-link links btn btn-secondary" href={% url 'main_page' %}>Home</a>
            <a class="card-link links btn btn-secondary" href={% url 'blogapp:post_create' %}>Create new post</a>
        </div>
    </div>
</body>
</html>