@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
    font-family: 'Roboto';
    background-color: #e4e4e4!important;
}
body a{
    text-decoration: none;
    color: black;
}
body a:hover{
    text-decoration: none;
    color: black;
}
.alert-success{
    display: flex;
    justify-content: space-between;
}
.btn-cancel{
    width: 1vw; 
    height: 1vw; 
    background-image: url("https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-512.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
}
.flex-box-likes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.iframe_chat{
    margin-bottom: 2vh;
    margin-right: 2vw;
}
.right-nav{
    width: 100%;
}
.reply-btn{
    width: 1vw; 
    height: 1vw; 
    background-image: url("https://image.flaticon.com/icons/png/128/37/37093.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1, -1) rotate(180deg);
}
.comments{
    margin-top: 2vh;
    overflow-y: scroll;
    height: 60vh;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
    background: white;
    border: 1px solid black;
    padding: 2vw;
    margin-bottom: 2.5vh;
    border-radius: 4px;
}
.flex-box-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.jumbotron{
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;
    margin-bottom: 2vh;
}
.display-3{
    font-size: 5rem;
}
.chat_jumb{
    width: 100%;
    height: 100%;
    max-width: 89.4vw;
}
.grid-box{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        justify-items: stretch;
        align-items: stretch;
}
.comment-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mb-0{
    margin-right: 0.3vw;
}
.main-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 1vw;
}
.tag-btn{
    margin-top: 1.5vh;
    text-align: center;
    width: 100%;
}
.display-3{
    font-size: 2.5rem;
}
.chat-page-title{
    text-align: left; 
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-between; 
    align-items: center;
}
.iframe-main{
    width: 100%;
    height: 48vh;
}

.login-registration-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border-radius: 2%;
    background-color: #FFD2AD;
}
.iframe-no-rights{
    margin-bottom: 2vh;
    width: 100%;
    height: 48vh;
}
.card-no-rights{
    margin-right: 2vw;
    height: 100%;
}
.profile-card{
    max-width: 25vw;
    margin-left: auto;
    margin-right: auto;
}
.create-tags{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.container-fluid{
      padding-left: 0 !important;
}
.white-space-chat{
    white-space: pre-wrap;
}
.card:first-of-type{
    margin-top: 1rem;
}
.grid-box{
    display: grid;
    grid-template-columns:  33.3% 33.3% 33.3%;
    grid-template-rows: 1fr 1fr 1fr;
}