@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
    margin: 0;
    font-family: 'Roboto+Slab';
    background-image: url("https://cdn1.savepice.ru/uploads/2019/5/9/aad476084be97c860a11f91f51017884-full.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body a{
    text-decoration: none;
    color: black;
}
body a:hover{
    text-decoration: none;
    color: black;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    height: 9vh;
    padding: 1vmax;
    margin-bottom: 4vh;
}
.navigation a{
    transition: 0.7s;
}
.navigation a:hover{
    transform: scale(1.2);
}
.logo-brand{
    font-size: 2em;
}
.alert-success{
    display: flex;
    justify-content: space-between;
}
.btn-cancel{
    width: 1vw; 
    height: 1vw; 
    background-image: url("https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-512.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3vh;
}
.iframe_chat{
    margin-right: 7vw;
    margin-bottom: 2vh;
}
.right-nav{
    width: 100%;
}
.reply-btn{
    width: 1vw; 
    height: 1vw; 
    background-image: url("https://image.flaticon.com/icons/png/128/37/37093.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1, -1) rotate(180deg);
}
.comments{
    margin-top: 2vh;
    overflow-y: scroll;
    height: 30vh;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column-reverse;
    background: white;
    border: 1px solid black;
    padding: 2vw;
    margin-bottom: 2.5vh;
    border-radius: 4px;
}
.flex-box-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.jumbotron{
    padding-bottom: 1vh !important;
    padding-top: 1vh !important;
    margin-bottom: 2vh;
}
.display-3{
    font-size: 5rem;
}
.chat_jumb{
    width: 100%;
    height: 100%;
    padding-left: 6.8vw;
    padding-right: 6.8vw;
}
.comment-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mb-0{
    margin-right: 0.3vw;
}
.tag-btn{
    margin-top: 1.5vh;
    text-align: center;
    width: 100%;
}
.display-3{
    font-size: 2.5rem;
}
.login-registration-form{

}
.chat-page-title{
    text-align: left; 
    display: flex; 
    flex-direction: column-reverse;
    justify-content: space-between; 
    align-items: center;
}
.chat-page-title-date{
    display: flex;
    justify-content: space-around;
}
.flex-box-likes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}