<div class="items-list">
    <div class="item">
        <form class="tag-search-form" action="{% url 'blogapp:post_create' %}">
                    <input maxlength="25" type="search" placeholder="Search tag" aria-label="Search" id="qtag" class="form-control mr-sm-2" style="margin-top: 1.5vh;">
                    <button class="btn btn-primary" type="submit" style="width: 100%; margin-top: 1.5vh;">Search</button>
        </form>
    </div>
    {% for tag in tags %}
        <div class="item">
            <input type="checkbox" name="tags" value="{{tag.id}}">
            <button type="button" class="button info">{{ tag }}</button>
        </div>
    {% endfor %}
</div>