<div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit" style="width: 100%; margin-top: 1.5vh;">Search</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            {% for tag in tags %}
                <form action="{% url "main_page" %}">
                    <button type="submit" value="{{ tag }}" name="searchtag" class="btn btn-info tag-btn">{{ tag }}</button>
                </form>
            {% endfor %}
        </div>
      </div>
      <input maxlength="25" type="search" placeholder="Search tag" aria-label="Search" id="qtag" class="form-control mr-sm-2">
    </div>
</div>