<div  class="flex-box-column">
    <form class="tag-search-form" action="{% url 'main_page' %}">
                <input maxlength="25" type="search" placeholder="Search tag" aria-label="Search" id="qtag" class="form-control mr-sm-2" style="margin-top: 1.5vh;">
                <button class="btn btn-primary" type="submit" style="width: 100%; margin-top: 1.5vh;">Search</button>
    </form>
    <div class="tag-category">
        {% for tag in tags %}
            <form action="{% url "main_page" %}">
                <button type="submit" value="{{ tag }}" name="searchtag" class="btn btn-info tag-btn">{{ tag }}</button>
            </form>
        {% endfor %}
    </div>
</div>
<div class="items-list">
    {% for tag in tags %}
        <div class="item">
            <form action="{% url "main_page" %}">
                <button type="submit" value="{{ tag }}" name="searchtag" class="button info">{{ tag }}</button>
            </form>
        </div>
    {% endfor %}
</div>